virtualenv
db.sqlite3
celerybeat-schedule
htmlcov
# *.json
.env
# Python compiled byte code
__pycache__/
.pytest_cache/
*.pyc
.idea
# Coverage
coverage/
.coverage*
.cache
.coverage.ubuntu.*

.mypy_cache
