amqp==5.3.1
asgiref==3.8.1
astroid==3.3.8
billiard==4.2.1
black==25.1.0
cachetools==5.5.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.6.10
dill==0.3.9
dj-database-url==2.3.0
Django==5.1.6
dodgy==0.2.1
et_xmlfile==2.0.0
flake8==7.1.1
flake8-polyfill==1.0.2
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.67.0rc1
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
iniconfig==2.0.0
isort==6.0.0
kombu==5.4.2
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.2
pathspec==0.12.1
pep8-naming==0.10.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.50
prospector==1.14.1
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pylint==3.3.4
pylint-celery==0.3
pylint-django==2.6.1
pylint-flask==0.6
pylint-plugin-utils==0.8.2
pyparsing==3.2.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.9.0
pytest-socket==0.7.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
requirements-detector==1.3.2
rsa==4.9
semver==3.0.4
setoptconf-tmp==0.3.1
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
sqlparse==0.5.3
toml==0.10.2
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
